<center>
<br />
<h1>Python, Первая пара</h1>
<br />
<h4>2021</h4> </center>

______________

In [1]:
print("Hello, world!")

Hello, world!

## О Языке:
- Просто выучить и просто использовать
- Free & OpenSource
- Высокоуровневый
- Интерпретируемый
- Обьектно-ориентированный
- Динамическая типизация
- Батарейки в комплекте

In [3]:
import this

# Python это просто

In [4]:
for i in range(10):
    if not i % 3:
        print(i ** 2)

0
9
36
81

# Базовые типы и операции

### Арифметические

int и float

In [8]:
5 + 6 * (2 ** 2) / 7

8.428571428571429

In [15]:
(1 << 4) | (4 >> 2)

17

In [12]:
4 >> 2

1

**Задание:** вычислить значение выражения $10^{50} - 2^{17}$

In [19]:
# <YOUR CODE HERE>

### Логические

In [19]:
int(True)

1

In [22]:
bool(0)

False

In [23]:
True or False, True and True, not False

(True, True, True)

In [24]:
not False or non_existant # lazy evaluation

True

In [29]:
-2 or True

-2

**Задание:** Найти истинность выражения $$ x \geq 5 \land x \leq 17 \land (2^x > 15 \lor 3^x < 10)$$
при $x=7$ и $x=120$

In [20]:
# YOUR CODE HERE

### None

In [30]:
None

In [33]:
a = 3

In [34]:
a == None, None is None

(False, True)

In [37]:
a.__eq__(3)

True

In [ ]:
# if value:
#     do_sth()
# else:
#     do_sth_else()

In [32]:
bool(None)

False

### Переменные

In [39]:
a = 2
b = 12 
c = b / a + 5

print(c)

11.0

In [42]:
b = 5
print((5).bit_length())

3

In [43]:
(1000).bit_length()

10

In [46]:
id(b)

4543788224

In [45]:
b is 5, id(b) == id(5), id(b) == id(3), a == b

(True, True, False, False)

In [54]:
a = 1  # from -5 to 256
b = 1
id(a) == id(b)

True

In [59]:
id(4)

4543788192

In [58]:
a = 3
print(id(a))
a += 1
id(3), id(a)

4543788160

(4543788160, 4543788192)

In [48]:
a = 257
b = 257
id(a) == id(b)

False

In [41]:
a = 2
print(a, type(a))

a = 'python'
print(a, type(a))

2 <class 'int'>
python <class 'str'>

# Управляющие Конструкции

### if

In [64]:
a = 6

if a > 5:
    print('> 5')
    print('> 5')
elif a == 5:
    print('5')
elif a < 5:
    print('< 5')
else:
    print('HOW?!')

def print_sth(a):
    print(a)

> 5
> 5

**Задача**: Заданы две клетки шахматной доски. Если они покрашены в один цвет, то выведите слово YES, а если в разные цвета — то NO.

In [21]:
# <YOUR CODE HERE>

**Задача**: Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [22]:
# <YOUR CODE HERE>

________________

###  while

In [66]:
a = 10

while a > 5:
    print(a)
    a -= 2

10
8
6

In [67]:
a

4

In [68]:
a = 10

while a > 5:
    print(a)
    a -= 2
else:
    print('Done')

print(a)

10
8
6
Done
4

**Задача:** По данному натуральному числу N найдите наибольшую целую степень двойки, не превосходящую N. Выведите показатель степени и саму степень.

Операцией возведения в степень пользоваться нельзя!

In [26]:
# <YOUR CODE HERE>

**Задача:** По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

In [27]:
# <YOUR CODE HERE>

### for

In [77]:
print(1, 2, 3)

1 2 3

In [79]:
for i in [0, 1, 2, 3, 4, 5]:
    print(str(i) * i, end=' ')
else:
    print('Done')

 1 22 333 4444 55555 Done

In [82]:
for i in range(6):
    print(i ** 2, end=' ')

0 1 4 9 16 25

In [23]:
for i in range(1, 9):
    if not i % 2:
        break 
    print(str(i) * i, end=' ')
else:
    print('done')

1

**Задача:** Даны два целых числа A и В. Выведите все числа от A до B включительно, в порядке возрастания, если A < B, или в порядке убывания в противном случае.

In [24]:
# <YOUR CODE HERE>

**Задача:** По данному натуральному n вычислите сумму $1^3+2^3+3^3+\dots+n^3$.

In [25]:
# <YOUR CODE HERE>

continue и break работают так же, как в любом другом языке

### Тернарный оператор

In [92]:
b = 10
a = b / 2 if b % 2 else b - 1

print(a)

9

## Пользовательский ввод

In [93]:
a = input()
b = input()
print(int(a) * int(b))

3
6
18

In [96]:
a, type(a), float(a)

('3', str, 3.0)